#design-tile, #idea-tile, #map-tile {
    height:200px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    /*border: 2px solid #3F0CFF;*/
    overflow: hidden;
}
#design-tile:hover, #idea-tile:hover, #map-tile:hover {
    box-shadow: 0 2px 5px 1px #000000;
}

#design-tile {
    background-color: #999999;
    background-position: center;
}
#idea-tile {
    background-color: yellow;
    background-position: center;
}

#design-tile span, #idea-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    /*background-color: #000;*/
    color: #000000;
    opacity: .6;
}
